*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color:#FFFFFF;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin-top: 0;
	margin-bottom: 0;
    list-style-type: none;
}


.logo {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 3%;
 color: #4D5AE5;
}

.logo-section {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #2E2F42;
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 72px;
  border: 1px solid #E7E9FC;
  padding-left: 156px;
  gap: 40px;
  margin: 0 auto;
}

.logo, .logo-section {
  text-decoration: none;
}

.header .a {
  text-decoration: none;
  padding-left: 156px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-left: 167px;
}

.address-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-right: 133px;
}
.list-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2E2F42;
  display: flex;
  text-decoration: none;
}

.nav-list-item .list-item-link:hover,
.nav-list-item .list-item-link:focus {
  color: #404BBF;
}

.address-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2E2F42;
  display: flex;
  text-decoration: none;
}

.address-list-item {
    margin-right: 40px;
}


.address-link:hover,
.address-link:focus {
  color: #404BBF;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: #FFFFFF;
  background-color: #2E2F42;
  text-align: center;
  width: 496px;
  height: 120px;
  padding-top: 188px;
  justify-content: center;
}

.hero-container {
  max-width: 496px;
  max-height: 120px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 188px;
  gap: 10px;
  width: 1440px;
  height: 600px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  background-color: #4D5AE5;
  width: 169px;
  height: 56px;
  padding-top: 16px;
  left: 636px;
  border-radius: 4px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
  margin-top: 120px;
}


.hero {
  width: 1440px;
  height: 600px;
  background-color: #2E2F42;
  margin: 0 auto;
}
  

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

.services-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2E2F42;
}

.services-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}

.services-list {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 1128px;
 height: 104px;
 padding-bottom: 120px;
 gap: 40px;
}

.services-container {
  display: block;
  text-decoration: none;
  justify-content: space-between;
  padding-top: 120px;
  padding-left: 156px;
  align-items: stretch;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 780px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  gap: 32px;
}

.team-section {
  background-color: #F4F4FD;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  height: 780px;
  padding-left: 156px;
  padding-right: 156px;
}



.team-title {
font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 2%;
text-align: center;
padding-left: 639px;
padding-right: 639px;

}

.team-title {
font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 2%;
text-align: center;
padding-left: 639px;
padding-right: 639px;
weight: 162px;
height: 40px;
color: #2E2F42;
}

.team-list-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2E2F42;
  text-align: center;
  width: 264px;
  height: 380px;
  border-width: 0px, 1px, 1px, 1px;
  border-style: solid;
  border-color: #E7E9FC;
  background-color: #FFFFFF;
  gap: 8px;
  box-shadow:#2E2F4214 0px 1px 6px 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  
}

img {
  display: block;
  max-width: 100%;
}

.team-role {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  text-align: center;
  gap: 8px;
}



.portfolio-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 1128px;
    height: 1000px;
    margin: 0 auto;
}

.portfolio-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
}


.portfolio-list-item {
    width: 360px;
    height: 420px;
    gap: 32px;
    background-color: #FFFFFF;
    max-width: 100%;
    flex-wrap: wrap;
    
}

.portfolio-item-container {
    width: 360px;
    height: 120px;
    top: 300px;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    gap: 8px;
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: #E7E9FC;



}

.portfolio-title {
 font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 2%;
  text-align: center;
  color: #2E2F42;
  padding-top: 120px;
  padding-bottom: 112px;
}

.portfolio-item-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2E2F42;
}

.portfolio-item-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}

.footer {
  display: block;
  height: 312px;
  background-color: #2E2F42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #4D5AE5;
  text-align: left;
  text-decoration: none;
}

.footer.footer {
  display: flex;
  justify-content: flex-start;
  padding-left: 156px;
  flex-basis: 112px;
  padding-top: 100px;
  flex-direction: column;
  margin: 0 auto;

}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1158px;
  height: 112px;
}

.footer-section {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #F4F4FD;
  text-align: left;
  text-decoration: none;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #F4F4FD;
  text-align: left;
}

